.results,
.pending {
  @apply mb-12 mt-12 flex w-full flex-col items-center gap-8 text-center uppercase text-white; /* mt-14 mb-4 grid grid-cols-2 grid-rows-2 max-h-[560px] h-[50vh] */
}

.selection {
  @apply mx-0 mt-[15px] flex h-full flex-col-reverse items-center justify-evenly p-[5px];
}

.selection h3 {
  @apply mt-[15px] p-[10px] text-lg;
}

/* .btn,
.computer {
  @apply w-[150px] h-[150px];
} */

.computer {
  /* w-full h-full didn't seem helpful */
  @apply relative flex w-auto items-center justify-center rounded-full; /* h-[150px]  background: rgba(0, 0, 0, 0.226) */
}

.computer::before {
  content: "";
  background: rgba(0, 0, 0, 0.226);
  @apply absolute left-[-3px] top-[-14px] h-[156px] w-[156px] rounded-full;
}

.btn {
  @apply m-0;
}

.result {
  grid-column: 1 / span 2;
}

.result div {
  @apply grid place-items-center gap-3 uppercase;
}

.result h2 {
  @apply text-3xl;
}

.win {
  @apply relative scale-[1] rounded-full transition-all duration-500;
}

.win::before,
.win::after {
  content: "";
  background: hsl(229, 25%, 31%);
  @apply absolute left-0 top-0 h-full w-full rounded-full;
}

.win::before {
  opacity: 0.5;
  transform: scale(1.2);
  z-index: -1;
  animation: anim 0.5s;
}

.win::after {
  opacity: 0.4;
  transform: scale(1.4);
  z-index: -2;
  animation: anim2 0.5s;
}

@keyframes anim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes anim2 {
  0% {
    transform: scale(0);
  }
  to {
    transform: scale(1.5);
  }
}

.playBtn {
  @apply cursor-pointer bg-white p-4 text-base text-black;
  border-radius: 8px;
  /* w-[35%] min-w-[60px] */
}

.result button {
  @apply text-lg;
}

.countdownWrapper {
  @apply absolute left-0 top-0 z-20 flex h-full w-full items-center justify-center;
}

.countdown {
  @apply text-4xl font-bold text-white; /* animate-pulse */
}

.resetBtn {
  @apply bg-rose-400;
}

/* Adjust results layout for small screens */
@media screen and (max-width: 480px) {
  /* .results,
  .pending {
    @apply flex flex-col items-center gap-8 text-white text-center mb-8; /* Flex layout with gap */
  /* }  */

  /* .selection {
    @apply flex flex-col items-center mb-6;
  } */

  /* why is this needed here??? */
  .computer::before {
    content: "";
    background: rgba(0, 0, 0, 0.226);
    @apply absolute left-0 top-0 h-full w-full scale-[1.2] rounded-full;
  }

  .selection h3 {
    @apply mb-2 text-lg; /* Smaller text for headings */
  }

  .btn,
  .computer {
    @apply h-[120px] w-[120px]; /* Reduce size of player/computer buttons */
  }

  .result div {
    @apply grid place-items-center gap-3 uppercase;
  }

  .result h2 {
    @apply text-2xl; /* Reduce text size */
  }

  .playBtn {
    @apply mt-4 text-sm; /* Adjust button size and add margin */
  }

  .resetBtn {
    @apply mt-4 text-sm; /* Adjust button size and add margin */
  }
}

@media screen and (min-width: 481px) {
  .results,
  .pending {
    @apply mt-12 gap-4;
  }

  .computer {
    @apply min-w-[150px];
  }

  .resultsSelectionWrapper {
    @apply flex min-h-[250px] items-center justify-between gap-12;
  }
}

@media screen and (min-width: 768px) {
  /* .playBtn {
    @apply w-[25%];
  } */

  .results,
  .pending {
    @apply mt-[5%]; /* grid-cols-3 w-[70%] mx-auto */
  }

  .results {
    /* @apply md:mt-[10%]; */
  }

  /* .result {
    grid-row: 1;
    grid-column: 2;
  }

  .pending {
    @apply w-[50%] gap-5;
  } */

  .selection h3 {
    @apply z-10 mb-5 text-xl;
  }

  .computer {
    @apply relative;
  }

  .computer::before {
    @apply -left-4 -top-4 h-[182px] w-[182px];
  }

  .btn,
  .computer {
    @apply h-[150px] w-[150px];
  }

  .resultsSelectionWrapper {
    @apply gap-32;
  }
}
